<div>
    <div id="scenarios-box-header">
        <h2 style="text-align: center; margin: auto;">Custom Scenario Pointer</h2>
    </div>
    <div id="scenarios-list">
        <%scenarios.forEach(function(scenario, key){ %>
            <%-include('../elements/scenario', {scenario: scenario, checked : (selectedScenario === scenario.scenario_id) ? "checked" : ""})%>
        <% }); %>
    </div>
</div>