<div id="weather-box">
    <div id="weather-box-temp" class="weather-box-item">
        <img src="/assets/icons/temp.png"></img>
        <h3 id="temp-value">Temperature</h3>
    </div>
    <div id="weather-box-sun" class="weather-box-item">
        <img src="/assets/icons/clouds.png"></img>
        <h3 id="cloud-value">Clouds Cover</h3>
    </div>
    <div id="weather-box-rain" class="weather-box-item">
        <img src="/assets/icons/rain.png"></img>
        <h3 id="rain-value">Rain Volume</h3>
    </div>
    <div id="weather-box-wind" class="weather-box-item">
        <img src="/assets/icons/wind.png"></img>
        <h3 id="wind-value">Wind Speed</h3>
    </div>
    <div id="weather-box-daylight" class="weather-box-item">
        <img id="daylight-img" src="/assets/icons/sun.png"></img>  
        <h3 id="daylight-value">Daylight</h3>
    </div>
</div>