<!--The code for this checkbox as well as its style was taken from https://www.w3schools.com/howto/howto_css_switch.asp. :) NO PLAGIAT-->
<span>
    <label class="switch">
        <input type="checkbox" id=<%=id%> checked=<%=checked%> onchange=<%=onChange%>>
        <span class="slider round"></span>
    </label>
</span>