@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Global Styles*/
body {
    width: 100vw;
    height: 92vh;
    height: 92vh;
    font-family : 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Dark Mode
    background-color: rgb(43, 43, 43);
    color: white !important;
    */
}

/*Simulator Page*/
#simulator-body {
    width: 99.8%;
    height: 99.8%;
    margin: 0.2%;
    display: grid;
    grid-template-rows: 15% 85%;
}

#sweather-conditions{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sweather-controls {
    display: grid;
    grid-template-columns: 50% 50%;

}

#controls-left {
    display: grid;
    grid-template-rows: 15% 85%;
    border-right: 1px solid black;
    border-top: 1px solid rgba(0, 0, 0, 0.155);
}

#sweather-controls h1 { 
    color: #2196F3;
}

#controls-right {
    display: grid;
    grid-template-rows: 15% 85%;
}

#controls-left-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#controls-right-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 1px dotted rgba(0, 0, 0, 0.155);
}

#controls-left-bottom {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#controls-right-bottom {
    margin-right: 0.5%;
    border-top: 1px solid rgba(0, 0, 0, 0.155);
    border-left: 1px solid rgba(0, 0, 0, 0.155);
}

#controls-right-bottom img {
    width: 30px;
    height: 30px;
}

#scenarios-list {
    max-height: 60vh;
    overflow-y: auto;
}

/*Scenario box scroll bar */

#scenarios-list::-webkit-scrollbar {
    color: black;
    width: 4px;
}

#scenarios-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}

#scenarios-list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.541);
    border-radius: 10px;
}

.scenario-item {
    display: grid;
    grid-template-columns: 5% 12% 75% 3%;
    column-gap: 1%;
    margin: 1%;
    height: 60px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.09);
}

.scenarion-item-conditions span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scenarion-item-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scenarion-item-conditions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 1px rgba(0, 0, 0, 0.041) solid;
    border-right: 1px rgba(0, 0, 0, 0.041) solid;
}

#scenarios-box-header {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.scenario-controls img {
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
}

/*Components Styles*/
#weather-box {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#weather-box img {
    width: 45px;
    height: 45px;
}

.weather-box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
}

/* Scenario modal */
#scenario-modal {
    display: none;
    justify-content: center;
    align-items: center; 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.432);
}

#scenario-modal-content {
    width: 400px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 15px 30px -20px rgba(0, 0, 0, 0.945);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 17% 7% 63% 10%;
}

#scenario-modal-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

#scenario-modal-name input {
    width: 150px !important;

}

#scenario-modal-inputs {
    display: grid;
    grid-template-columns: 49% 49%;
}

#scenario-modal-inputs img {
    width: 25px;
    height: 25px;
}

#scenario-modal-inputs div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#scenario-modal-inputs div:nth-child(1) {
    margin-left: 40px;
}

#scenario-modal-inputs span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inputs {
    outline: none;
    border: none;
    background-color: rgb(221, 221, 221);
    margin-left: 8px;
    margin-right: 8px;
    height: 10px;
    padding: 5px;
    width: 80px;
}

#scenario-daylight {
    height: 23px !important;
    width: 90px !important;
}

#scenario-modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#model-submit {
    background-color: black;
    color: white;
    width: 100px;
    height: 25px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* Scenario Creation Form*/

#scenario-creation-form {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    border: 1px rgba(151, 127, 178, 0.4) solid;
    border-collapse: collapse;
}


#scenario-creation-form thead tr {
    background-color: #2195f3a8;
    font-size: 16px;
    border-bottom: 1px rgba(59, 108, 131, 0.4) solid;
    color: white;
}

#scenario-creation-form thead th {
    border: 1px rgba(0, 0, 0, 0.4) solid;
}

#scenario-creation-form tr {
    border-bottom: 1px solid #dddddd;
    height: 50px;
}

#scenario-creation-form td {
    border: 1px rgba(0, 0, 0, 0.4) solid;
    text-align: center;
}

#scenario-creation-form tbody tr{
    background-color: #f3f3f3;
}

#scenario-creation-form tbody tr:nth-child(even){
    background-color: #1694b369;
}

/* end form*/

.btn-simulator {
    background-color: #2196F3; /* Green */
    border: 1px rgba(31, 31, 31, 0.4) solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    cursor: pointer;
}

.input-simulator {
    height: 25px;
    width: 250px;
}

#scenario-creation-form input[type="number"], input[type="text"] {
    width: 99%;
    height: 30px;
    font-size: 14px;
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
}